VITE_SUPABASE_URL=https://mepxiedoibmkdcfhodur.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lcHhpZWRvaWJta2RjZmhvZHVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk2MTMxMzksImV4cCI6MjA1NTE4OTEzOX0.URAkDFwMAk5S-V7aa-7vGzILBsyQQZX1cgLOME76uoU